@use "styles/variables.scss";

.container {
    height: 100vh;
    display: flex;
    align-items: center;

    &__form__input {
        font-family: variables.$font-family;
    }
}

.fieldset {
    margin: 0 auto;
    width: 25%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    legend {
        text-align: center;
        text-transform: uppercase;
        font-size: 3rem;
        background-color: variables.$primary-color;
        width: 100%;
        padding: 3rem;
        border-radius: 4rem 4rem 0 0;
    }

    &__form {
        background-color: rgba(0, 0, 0, 0.65);
        padding: 4rem 2rem;
        display: flex;
        border-radius: 0 0 4rem 4rem;
        flex-direction: column;

        &__link {
            color: white;
            text-decoration: none;
            font-size: 2rem;
            margin: 0 auto;
            padding: 2.5rem;
            width: fit-content;

            &:hover {
                transform: scale(1.1);
                transition: all 0.5s ease;
                color: variables.$primary-color;
            }
        }

        .button {
            background-color: variables.$secondary-color;
        }
    }
}