@use "styles/variables.scss";

.sectionContainer {
    display: flex;
    width: 75%;
    justify-content: center;
    background: variables.$secondary-color-opacity;

    &__title {
        padding: 2rem;
        font-size: 2.5rem;
        font-weight: bold;
    }
}