@use "styles/variables.scss";

.aside {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: variables.$secondary-color-opacity;
    border-right: 3px solid black;

    &__title {
        font-size: 3.5rem;
        font-weight: bold;
        padding-bottom: 2rem;
    }

    &__nav {
        &__ul {
            height: inherit;
            display: flex;
            flex-direction: column;
            list-style: none;
            text-align: center;
            align-items: center;
            justify-content: space-around;
        }

        &--item {
            padding: 1rem 0;
        }

        &__a {
            font-size: 3rem;
            text-decoration: none;
            color: black;

            &:hover {
                color: variables.$primary-color;
            }
        }
    }
}