@use "styles/variables.scss";

.headerContainer {
    display: flex;
    height: 10rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    border-bottom: 3px solid black;
    background: variables.$secondary-color-opacity;

    &__title {
        font-size: 2rem;
        background: variables.$primary-color;
        color: black;
        width: 25%;
        height: 75%;
        border-radius: 10px;
        display: inherit;
        justify-content: center;
        align-items: center;
    }
}