@use "styles/variables.scss";

.layout {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 90vh;
    width: 100%;
}

.container {
    width: 100%;
    background: variables.$secondary-color-opacity;
}