@use "styles/variables.scss";

.layout {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    max-height: calc(100vh - 10rem);
}

.container {
    background: variables.$secondary-color-opacity;
    max-height: calc(100vh - 10rem);
    min-height: calc(100vh - 10rem);
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
}