$primary-color: #2FD0B1;
$secondary-color: #1B847D;
$secondary-color-opacity: rgba(27, 132, 125, 0.7);
$tertiary-color: #2f9fd0;
$bg-color: #d02f4e;
$input-text: white;
$font-family: 'Ubuntu',
sans-serif;